  <div class="row mt-1 mb-1">
    <div class="col">
      please enter you linear equation
    </div>
  </div>

  <div class="row mt-1 mb-1">
    <div class="col">
      <%= @equation.form %>
    </div>
  </div>

  <div class="row mt-1 mb-1">
    <div class="col">
      <%= simple_form_for(equation_result_path, class: 'form-inline') do |f| %>
        <%= f.hidden_field :title, value: @equation.title %>
        <%= f.input :form, label: false, placeholder: 'equation', class: 'form-inline' %>
        <%= f.submit 'Solve', class: 'btn btn-success btn-block' %>
      <% end %>
    </div>
  </div>

  <div class="row mt-1 mb-1">
    <div class="col">
      <%= link_to 'Back', root_path, class: 'btn btn-outline-danger btn-block' %>
    </div>
  </div>
