<h4>
  <%= @equation.form %>
</h4>

<%= simple_form_for(equation_result_path, class: 'form-inline') do |f| %>
  <%= f.input :a, as: :numeric, label: false, placeholder: 'A', class: 'form-inline' %>
  <%= f.input :b, as: :numeric, label: false, placeholder: 'B' , class: 'form-inline' %>
  <%= f.input :c, as: :numeric, label: false, placeholder: 'C' , class: 'form-inline' %>
  <%= f.submit 'Solve', class: 'btn btn-success btn-block' %>
<% end %>

<!--ax**2 + bx + c = 0-->