<!DOCTYPE html>
<html>
<head>
  <title>MathEquationSolver</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="manifest" href="/manifest.json"/>
  <meta name="apple-mobile-web-app-capable" content="yes">
</head>

<body>
<%= render partial: 'partials/navbar' %>

<% flash.each do |key, value| %>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md">
        <div class="<%= flash_class(key) %>">
          <%= value %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>
  </div>

<% end %>
<%= yield %>

</body>

<footer>
  <div class="container">
    <div class="row">
      <div class="col display-4-resp">
        <hr>
        <div class="text-center">&copy; Alexander 'Tarrin' Smirnov <%= Time.now.year %></div>
      </div>
    </div>
  </div>
</footer>
</html>
